.project__main {
  height: 80vh;
}

.project__navbar {
  background-color: white !important;
}

.project__brand {
  font-family: "Gemunu Libre", sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project__main h1 {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 5rem;
  font-weight: 600;
}

.image__description {
  font-family: "Gemunu Libre", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
}

.back {
  background-color: #fff34b;
  font-weight: 500;
  padding: 10px;
  border-radius: 15px;
  font-family: "Gemunu Libre", sans-serif;
  color: black;
  text-decoration: none;
  width: 100px;
  position: sticky;
}

.back:hover,
.back:focus {
  background-color: #fef8a8;
}

.projectContainer {
  position: relative;
  padding-bottom: 70px;
}
.stickyLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.main_image_row {
  margin-bottom: 150px;
}

.loading {
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 999;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}


@media(max-width: 576px){
  .image__description {
    font-weight: 500;
    font-size: 1.5rem;
  }
  .project__main h1 {
    font-size: 4rem;
    font-weight: 600;
  }
}

