body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inter", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap");

.link {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 1.8rem;
  margin: 50px 0;
  color: white;
  display: flex;
  align-items: flex-start;
  position: relative;
  transition: color 0.3s ease-in;
  margin-left: 0;

  @media (max-width: 576px) {
    margin-left: 50px;
  }
}

.about {
  @media (max-width: 576px) {
    margin-top: 100px;
  }
}

.link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(252, 243, 116, 0);
  transition: background-color 0.3s ease-in;
}

.link:hover {
  color: #fcf374;
}

.link:hover::after {
  background-color: rgba(252, 243, 116, 0.3);
}

.main {
  width: auto;
  height: 100vh;
}

.main h1 {
  color: #fff34b;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 5rem;
  font-weight: 600;
}

.main span {
  font-size: 1rem;
  margin-right: 15px;
  align-self: flex-start;
  margin-top: 6px;
}

.main__link {
  color: white;
  font-family: "Gemunu Libre", sans-serif;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 1.8rem;
}
.main__link:hover {
  color: #fdf8b4;
}

.rectangle {
  width: 100vw;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -4;
  background-color: #1a1a1a;
}





@media(max-width: 576px){
  .link{
    font-size: 15px
  }
  .main span{
    font-size: 10px;
  }
}
